<h1>Home</h1>
<h2>Products</h2>
<%= Product.delete_all %>
<%= Product.create! id: 1, name: "PlayStation 4", price: 30000, active: true %>
<%= Product.create! id: 2, name: "Nintendo Switch", price: 30000, active: true %> 
<%= Product.create! id: 3, name: "加湿器", price: 5000, active: true %>
<%= Product.create! id: 4, name: "掃除機", price: 8000, active: true %>