<h1>BATRE(バトレ)</h1>
<h2>sign-in</h2>
<%= form_tag '/top/login', method: :post do %>
  <%= label_tag :uid,'username' %><br>
  <%= text_field_tag :uid%><br>
  <%= label_tag :pass,'password' %><br>
  <%= password_field_tag :pass %>
  <%= submit_tag 'go' %>
<% end %>
<%= link_to 'create new account' , '/login/new' %>