<table border="1">

商品一覧


<tr>
    <th>商品名</th>
    <th>価格</th>
    <th>お気に入り</th>
    <th>削除</th>
</tr>

<% @products.each do |p| %>
  
  <tr>
      <td><%= p.name %></td>
      <td><%= p.price %></td>
      <td><%= link_to "お気に入り",item_index_path(id: p.id),method: :post %></td>
      <td><%= link_to "削除",product_path(p),method: :delete,data: {confirm: '削除してもいいですか？' } %></td>
  </tr>
  
<% end %>

</table>

<p>
    <%= link_to "お気に入り",trade_show_path %>
</p>

<p>
    <%= link_to "商品登録",new_product_path %>
</p>
