<%= form_for @user,:url => {:action => :create} do |f| %>
<h1>New Account</h1>
  <%= label_tag :uid,'username' %><br>
  <%= text_field_tag :uid%><br>
  <%= label_tag :pass,'password' %><br>
  <%= password_field_tag :pass %>
  <%= label_tag ,'email address' %><br>
  
  <%= submit_tag 'create' %>
<% end %>