<%= form_for(@user) do |f| %>
 
  <div class="form-group">
    <%= f.label :nickname, 'ニックネーム' %>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード（もう１度入力してください）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
 
  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
<% end %>

